<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br><br><br><br><br>
        <h1 class="header center green-text">The New York Times Scrape Express</h1>
        <div class="row center">
            <h5 class="header col s12 light">Search through the most recent global headlines from the New York Times. Find anything interesting? Click the article to view it, or click save and come back to it at a later date.</h5>
        </div>
        <br><br>
        <div class="row center">
            <a href="#modal1" class="btn-large waves-effect waves-light red modal-trigger" id="scrape_now">Scrape Now</a>
        </div>
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Scraped new articles!</h4>
                <p>Removal of past Scrapes is now Complete. Not to worry, any saved articles are still available for viewing</p>
            </div>
            <div class="modal-footer">
                <a href="/scraped" class="modal-close waves-effect waves-green btn">Okay</a>
            </div>
        </div>
        <br><br>
    </div>
</div>
<script src="/assets/javascript/index.js"></script>